.filter-characters {
  padding-bottom  : 80px;
}

.characters-filter {
  &_input {
    border: none;
    background-color: transparent;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #111;
  }
  &-label {
    padding-bottom: 8px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    color: #111;
  }
}


.search-wrapper {
  margin-bottom: 20px;
  &-for-loop {
    padding: 16px 24px;
    border: 1.5px solid #111;
    border-radius: 100px;
    background-color: #daf836;
    width: 287px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px) { 

    }
  }
  &-img {
    width: 18px;
    height: 18px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  @media screen and (min-width: 1200px) { 
    justify-content: center;
    column-gap: 16px;
  }  
}

// .full {
//   grid-column: 1 / -1;
// }

// base field

// .field {
//   font-family: 'Montserrat', sans-serif;
//   height: 56px;
//   width: 162px;
//   border: 1.5px solid #111;
//   border-radius: 100px;
//   padding: 0 20px;
//   font-size: 16px;
//   outline: none;
//   background: #fff;
//   @media screen and (min-width: 768px) { 
//     height: 50px;
//   }
// }

.field-option{
  font-family: 'Montserrat', sans-serif;
}

.field:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}

// select
select {
  background-color: transparent;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #111;  

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select-wrapper {
  padding: 16px 18px;
  width: 122px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  border: 1.5px solid #111;
  border-radius: 100px;
  font-size: 16px;
  outline: none;
  background: #fff;
}

.label {
  &-status,
  &-species,
  &-gender {
    padding-bottom: 8px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    color: #111;
  }
}

// something went wrong

.went-wrong {
  &-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  &-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 113%;
    letter-spacing: 0.02em;
    color: #111;
    @media screen and (min-width: 768px) { 
      font-size: 20px;
      line-height: 100%;
    }
  }
}
