.filter-characters {
  padding-bottom  : 80px;
}

.characters-filter {
  &_input {
    border: none;
    background-color: transparent;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #111;
  }
  &-label {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    color: #111;
  }
}


.search-wrapper {
  margin-bottom: 20px;
  &-for-loop {
    padding: 16px 24px;
    border: 1.5px solid #111;
    border-radius: 100px;
    background-color: #daf836;
    width: 287px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px) { 

    }
  }
  &-img {
    width: 18px;
    height: 18px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-bottom: 40px;
  @media screen and (min-width: 1200px) { 
    margin-bottom: 64px;
  } 
  @media screen and (min-width: 1200px) { 
    justify-content: center;
    column-gap: 16px;
  }  
}

// .full {
//   grid-column: 1 / -1;
// }

// base field

// .field {
//   font-family: 'Montserrat', sans-serif;
//   height: 56px;
//   width: 162px;
//   border: 1.5px solid #111;
//   border-radius: 100px;
//   padding: 0 20px;
//   font-size: 16px;
//   outline: none;
//   background: #fff;
//   @media screen and (min-width: 768px) { 
//     height: 50px;
//   }
// }

.field-option{
  font-family: 'Montserrat', sans-serif;
}

.field:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}

// select
select {
  background-color: transparent;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #111;  

  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}

option {
  outline: none;
  border: none;
  background-color: #fff;
  color: #111;
}

.select-wrapper {
  padding: 16px 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  border: 1.5px solid #111;
  border-radius: 100px;
  font-size: 16px;
  outline: none;
  background: #fff;
}

.label {
  &-status,
  &-species,
  &-gender {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    color: #111;
  }
}

// something went wrong

.went-wrong {
  &-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  &-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 113%;
    letter-spacing: 0.02em;
    color: #111;
    width: 315px;
    @media screen and (min-width: 768px) { 
      font-size: 20px;
      line-height: 100%;
      font-size: 20px;
      line-height: 100%;
      width: 440px;    
      text-align: center;
    }
  }
}

// characters list 

.characters-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 20px; // approx margin for button, will be replaced with the layout value 
  @media screen and (min-width: 768px) { 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1184px) { 
    gap: 24px;
  }
  &-item {
    @media screen and (min-width: 768px) { 
      width: 336px;
    }
    @media screen and (min-width: 1184px) { 
      width: 278px;
    }
    &-title {
      margin-bottom: 8px;

      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 113%;
      color: #111;
    }
    &-information {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      &-decoration {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: rgba(17, 17, 17, 0.5);
        
      }
    }  
  }
}

.img-container {
  margin-bottom: 15px;
  width: 300px;
  height: 300px;

  border: 2px solid #A1D737;
  border-radius: 18px;
  overflow: hidden;
  @media screen and (min-width: 1184px) { 
    width: 278px;
  }
}
.getMoreCharactersBtn {
  margin: 0 auto;
  padding: 12px 24px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: var(--black);   

  background-color: var(--green);
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 1000px;    
  cursor: pointer;
  &:hover {
    background-color: #84b424;
  }
}