body {
  font-family: var(--font-family);
  position: relative;
}
.tags-wrapper {
  position: absolute;
  top: 35%;
  width: 1408px;
}
// remove outline 
a.image-link:focus { outline: 0; }
a:focus {outline : none;}

select:focus {outline : none; border: none;}
option:focus {outline : none; border: none;}
