  .container{
      width: 335px;
      padding: 0 15px;
      margin: 0 auto;
      // @media screen and (min-width: 480px) {
      //       width: 480px;
      // }
      @media screen and (min-width: 768px) {
          width: 704px;
        }
      @media screen and (min-width: 1200px) {
          width: 1184px;
      }
    }