// base
@use "./utils/variables";
@use "./base/reset";
@use "./base/container";
@use "./base/common";

// main
@use "./layout/main/header";
@use "./layout/main/hero";
@use "./layout/main/main-characters";
@use "./layout/main/slider";
@use "./layout/main/footer";

// characters
@use "./layout/seconds/second-header"; // second header
@use "./layout/characters/characters-hero";
@use "./layout/characters/characters-filter";
@use "./layout/characters/character-modal";
@use "./layout/seconds/second-footer";// second footer

// episods
@use "./layout/episods/episods-hero";
@use "./layout/episods/episods-filter";

