:root {
	--black: #0d171d;
	--white: #fafafa;
	--green: #a1d737;
	--light-green: #daf836;
	--transperent: rgba(250, 250, 250, 0.5);
  --font-family: "Montserrat", sans-serif;
  --second-family: "Poppins", sans-serif;
}