.filter-episodes {
  // &_list{
  //   background-image: url('../img/episodes/imageSeason1.png');
  // }
  // style="background-image: url('../img/episodes/imageSeason1.png');" style="background-image: url(${imageSeason1});"
  &_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }
  &_label {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 117%;
    gap: 8px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 129%;
    }
  }
  &_name_input {
    border: 1.5px solid #111;
    border-radius: 100px;
    padding: 14px 24px;
    background-color: var(--light-green);
    @media screen and (min-width: 768px) {
      padding: 16px 23px;
    }
  }

  &_name_input::placeholder {
    font-size: 14px;
    line-height: 129%;
    color: #111;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 113%;
    }
  }
  &_search-img {
    position: absolute;
    bottom: 15px;
    right: 18px;
    @media screen and (min-width: 768px) {
    bottom: 17px;
    }
  }

  &_arrow-img {
    position: absolute;
    bottom: 20px;
    right: 18px;
    @media screen and (min-width: 768px) {
    bottom: 16px;
    }
  }
  // &_select-wrapper {
  //   padding-top: 8px;
  //   position: relative;
  // }
  &_field {
    border: 1.5px solid #111;
    border-radius: 100px;
    padding: 15px 24px;
    transition: 0.4s;

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
      width: 190px;
      height: 50px;
    }
  }

  &_field:focus {
    border: 1.5px solid #848484;
    transition: 0.4s;
  }

  &_option {
    border: none;
    border-radius: 16px;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);
  }
  // not working
  &_option:hover {
    color: var(--green);
    background-color: white;
  }

  &_button {
    border-radius: 1000px;
    padding: 10px 20px;
    width: 107px;
    height: 36px;
    background-color: var(--green);
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    color: var(--black);
    @media screen and (min-width: 480px) {
      padding: 12px 24px;
      width: 126px;
      height: 42px;
    }
  }
}
