.filter-episodes {
  &_form {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 480px) {
      flex-direction: row;
    }
  }
  &_name_input {
    border: 1.5px solid #111;
    border-radius: 100px;
    padding: 14px 24px;
    width: 335px;
    height: 46px;
    background-color: var(--light-green);
    @media screen and (min-width: 480px) {
      padding: 16px 24px;
      width: 233px;
      height: 50px;
    }
  }
  &_constraction_div_for_loop_svg {
    display: flex;
    margin-bottom: 64px;
  }
  &_search-img {
    padding-top: 8px;
    position: relative;
  }
  &_select-wrapper {
    padding-top: 8px;
    position: relative;
  }
  &_field {
    border: 1.5px solid #111;
    border-radius: 100px;
    padding: 15px 24px;
    width: 335px;
    height: 48px;

    @media screen and (min-width: 480px) {
      padding: 16px 24px;
      width: 190px;
      height: 50px;
    }
  }

  &_button {
    border-radius: 1000px;
    padding: 10px 20px;
    width: 107px;
    height: 36px;
    background-color: var(--green);
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    color: var(--black);
    @media screen and (min-width: 480px) {
      padding: 12px 24px;
      width: 126px;
      height: 42px;
    }
  }
}
