.hero-episodes {
  background-color: var(--black);
  border-radius: 0 0 60px 60px;
  padding-bottom: 80px;
  margin-bottom: 105px;
  @media screen and (min-width: 768px) {
    padding-bottom: 208px;
    border-radius: 0 0 100px 100px;
    margin-bottom: 168px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 126px;
    margin-bottom: 176px;
  }

  &_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: var(--white);
    margin-bottom: 14px;
    @media screen and (min-width: 768px) {
      font-size: 60px;
      line-height: 100%;
    }
    @media screen and (min-width: 1440px) {
      font-size: 100px;
    }
  }
  &_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: var(--white);
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 113%;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1440px) {
      line-height: 125%;
    }
  }
  &_button {
    border: 2px solid rgba(250, 250, 250, 0.3);
    background-color: var(--black);
    border-radius: 1000px;
    width: 112px;
    height: 36px;
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    color: #fafafa;
    @media screen and (min-width: 768px) {
      padding: 12px 24px;
      width: 132px;
      height: 42px;
    }
  }

  &_button:hover {
    animation: blink-hover 4s ease-in-out infinite;
  }

  &_construction_div {
    max-width: 305px;
    @media screen and (min-width: 768px) {
      max-width: 482px;
    }
    @media screen and (min-width: 1440px) {
      max-width: 536px;
    }
  }
}
.construction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: 768px) {
    gap: 52px;
    flex-direction: row;
  }
  @media screen and (min-width: 1440px) {
    gap: 124px;
  }
}

.slider {
  text-align: center;
  &_block {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    border-radius: 25px;
    width: 335px;
    height: 335px;
    overflow: hidden;
    margin: auto;
    background-color: var(--green);
  }
  &_line {
    display: flex;
    position: relative;
    left: 0;
    transition: transform ease 1s;
  }
  &_img {
    width: 304px;
    height: 324px;
  }
}

@keyframes blink-hover {
  0% {
    border-left: 2px solid var(--green);
    color: #cde896;
  }

  25% {
    border-top: 2px solid var(--green);
    color: #bedf7c;
  }

  50% {
    border-right: 2px solid var(--green);
    color: #abd459;
  }

  75% {
    border-bottom: 2px solid var(--green);
    color: var(--green);
  }

  100% {
    border-left: 2px solid var(--green);
    color: #c8e097;
  }
}
