<section class="filter-characters">
  <div class="container">
  <!-- select inputs -->
<div class="filters">
      <!-- search input -->
  <div class="search-wrapper">
    <label for="characters-filter" class="characters-filter-label">Name</label>
    <div class="search-wrapper-for-loop">
      <input type="text" name="name" id="characters-filter" class="characters-filter_input" placeholder="Enter name">
      <img src="./img/search.svg" alt="search" width="18" height="18" class="search-wrapper-img">  
    </div>
  </div>
    <!-- status -->
    <div>
      <label class="label-status">Status</label>
      <div class="select-wrapper">
        <select class="field">
          <option class="field-option">Alive</option>
          <option class="field-option">Dead</option>
          <option class="field-option">Unknown</option>
        </select>
        <span class="arrow"><img src="./img/dropdown_arrow.svg" alt="dropdown_arrow"></span>
      </div>
    </div>

    <!-- species -->
    <div>
      <label class="label-species">Species</label>
      <div class="select-wrapper">
        <select class="field">
          <option class="field-option">Human</option>
          <option class="field-option">Alien</option>
          <option class="field-option">Robot</option>
        </select>
        <span class="arrow"><img src="./img/dropdown_arrow.svg" alt="dropdown_arrow"></span>
      </div>
    </div>

    <!-- gender -->
    <div>
      <label class="label-gender">Gender</label>
      <div class="select-wrapper">
        <select class="field">
          <option class="field-option">All</option>
          <option class="field-option">Male</option>
          <option class="field-option">Female</option>
          <option class="field-option">Unknown</option>
        </select>
        <span class="arrow"><img src="./img/dropdown_arrow.svg" alt="dropdown_arrow"></span>
      </div>
    </div>
  </div>
    <div class="went-wrong-img-wrapper">
      <img src="./img/something_went_wrong.png" alt="something_went_wrong">
      <p class="went-wrong-paragraph">Oops! Try looking for something else...</p>
    </div>
  </div>
</section>