<section class="characters_hero">
  <div class="container characters_hero-flex">
    <div class="hero-wrapper ">
      <h1 class="characters_h1">Characters</h1>
      <p class="characters-paragraph">
        Our character bios provide detailed information on every member of the
        Smith family and beyond. Get to know these unforgettable characters on a
        whole new level - start exploring now!
      </p>
      <button class="characters_return_button">
        Back home
      </button>      
    </div>
    <div class="characters_hero_img_box">
      <img src="../../img/rick_hero_mobile_version_1x.png" alt="rick">
    </div>
  </div>
</section>

