<section class="filter-episodes">
  <div class="container">
    <form class="filter-episodes_form">
      <label class="filter-episodes_label">Name</label>
      <div class="filter-episodes_constraction_div_for_loop_svg">
      <input type="text" class="filter-episodes_name_input" placeholder="Enter name"/>
      <img src="../../img/search.svg" alt="search" width="18" height="18" class="filter-episodes_search-img">
      </div>
      <label class="filter-episodes_label">Episode code</label>
      <div class="filter-episodes_select-wrapper">
        <select class="filter-episodes_field">
          <option>#</option>
          <option>#</option>
          <option>#</option>
        </select>
        <!-- <span class="arrow"><img src="../../img/dropdown_arrow.svg" alt="dropdown_arrow"></span> -->
      </div>
      <button class="filter-episodes_button">Load more</button>
    </form>
  </div>
</section>
