<section class="filter-episodes">
  <div class="container">
    <form class="filter-episodes_form">
      <label class="filter-episodes_label"
        >Name

        <input
          type="text"
          class="filter-episodes_name_input"
          placeholder="Enter name"
        />
        <img
          src="./img/icons/search.svg"
          alt="search"
          width="18"
          height="18"
          class="filter-episodes_search-img"
        />
      </label>

      <label class="filter-episodes_label"
        >Episode code
        <select class="filter-episodes_field">
          <option class="filter-episodes_option">All season</option>
          <option class="filter-episodes_option">1 season</option>
          <option class="filter-episodes_option">2 season</option>
          <option class="filter-episodes_option">3 season</option>
          <option class="filter-episodes_option">4 season</option>
          <option class="filter-episodes_option">5 season</option>
        </select>
       <span class="filter-episodes_arrow-img"><img src="./img/icons/dropdown_arrow.svg" alt="dropdown_arrow"></span>
      </label>
    </form>
    <div class="filter-episodes_list"></div>
    <button class="filter-episodes_button">Load more</button>
  </div>
</section>
