<section class="hero-episodes">
  <div class="container construction">
    <div class="hero-episodes_construction_div">
      <h1 class="hero-episodes_title">Episodes</h1>
      <p class="hero-episodes_description">
        With a comprehensive guide to every episode, you can relive your
        favorite moments and discover new ones. From the bizarre and hilarious
        to the emotional and thought-provoking, our episode guide covers it all.
      </p>
      <button class="hero-episodes_button">Back home</button>
    </div>

    <div class="slider">
      <div class="slider__block">
        <div class="slider__line">
          <img src="#" class="slider__img" alt="#" />
          <!-- <img src="#" class="slider__img" alt="#" />
          <img src="#" class="slider__img" alt="#" /> -->
        </div>
      </div>
    </div>
  </div>
</section>
