<section class="hero-episodes">
  <div class="container construction">
    <div class="hero-episodes_construction_div">
      <h1 class="hero-episodes_title">Episodes</h1>
      <p class="hero-episodes_description">
        With a comprehensive guide to every episode, you can relive your
        favorite moments and discover new ones. From the bizarre and hilarious
        to the emotional and thought-provoking, our episode guide covers it all.
      </p>
      <a href="./index.html" class="hero-episodes_button">Back home</a>
    </div>

    <div class="slider">
            <div class="hero-episodes_blur"></div>
      <div class="slider_block">
        <div class="slider_line">
          <img src="./img/episodes/episodes_hero_mobile_and_tablet_1x.png" class="slider_img" alt="зелений фон на якому група персонажів із серіалу Рік і Морті стоять поруч і усміхаються, зліва стоїть сурова версія Бет Сміт, справа від неї Рік Санчез а справа від нього звичайна версія Бет Сміт, правіше від неї Саммер Сміт, попереду сидять зелені фігури  Джеррі і Морті ймовірно, це спогадові паразити, які з'явилися в епізоді Аналізмочируй це, що маскуються під членів сім'ї" 
          srcset="./img/episodes/episodes_hero_mobile_and_tablet_1x.png 324w,
          ./img/episodes/episodes_hero_mobile_and_tablet_2x.png 648w, 
          ./img/episodes/episodes_hero_descktop_1x.png 496w,
          ./img/episodes/episodes_hero_descktop_2x.png 992w"
          sizes="(min-width: 1200px) 496px, (max-width: 1200px) 324px, 100vw"
          />
          <!-- <img src="./img/characters/characters_hero_tablet_2x.png" class="slider_img" alt="#" />
          <img src="#" class="slider__img" alt="#" />        <div class="hero-episodes_blur"></div> --> 
        </div>
      </div>
    </div>
  </div>

</section>
