.second-footer {
  padding-top: 40px;
  padding-bottom: 110px;
  background-color: #0D171D;
  &-wrapper {
    margin-bottom: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 768px) { 
      margin-bottom: 128px;
      align-items: end;
    }
  }
  &-policy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    @media screen and (min-width: 768px) { 
      font-size: 14px;
      line-height: 129%;
    }
  }
  &-references-wrapper {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) { 
      flex-direction: row;
      gap: 10rem;
    }
  }
}
.rick_and_morty_footer-img {
  width: 149px;
  height: 107px;
}

.massangers-wrapper {
  display: flex;
  gap: 12px;
}
.links-wrapper-item a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #fafafa;
  @media screen and (min-width: 768px) { 
    font-size: 16px;
    line-height: 113%;
  }
}
.links-wrapper-first-item-margin {
  margin-bottom: 8px;
}
.links-box {
  margin-bottom: 20px;
}
.massangers-wrapper-item {
  opacity: 0.7;
  transition: opacity 500ms ease-in;
  &:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 500ms ease-in;
  }
}