.second_header{
    background-color: var(--black);
    &_img{
        max-width: 120px;
        max-height: 45px;
        padding-top: 20px;
            @media screen and (min-width: 480px) { 
        max-width: 192px;
        max-height: 48px;
        padding-top: 24px;
    }
    }
}