<header class="header">
    <div class="header-div-links">
        <a href="" class="header-div-links-link"></a>
        <a href="" class="header-div-links-link"></a>
    </div>
    <div class="header-div-info">
       <ul class="header-div-info-list">
            <li class="header-div-info-item">
                <h1 class="header-div-info-description"></h1>
            </li>
            <li class="header-div-info-item">
                <img src="" alt="" class="header-div-info-img">
            </li>
            <li class="header-div-info-item">
                <img src="" alt="" class="header-div-info-src">
            </li>
       </ul>
    </div>
    <button class="scrollToBottom-btn"></button>
</header>