<section class="container">
    <h2><span class="main-characters-span">Main</span> characters</h2>

<div>
  <div class="image-box">
    <img src="" alt="">
  </div>

  <div class="characters">
    <div class="character">
      <h3 class="active">Rick Sanchez</h3>
      <p>Rick Sanchez is a brilliant but deeply troubled scientist and one of the main characters in the animated TV show Rick and Morty.</p>
    </div>

    <div class="character">
      <h3>Morty Smith</h3>
      <p>Morty Smith is the other main character in the animated TV show Rick and Morty, and Rick's grandson.</p>
    </div>

    <div class="character">
      <h3>Summer Smith</h3>
      <p>Summer Smith is Morty's older sister and one of the main characters in Rick and Morty.</p>
    </div>

    <div class="character">
      <h3>Beth Smith</h3>
      <p>Beth is a horse surgeon, and, as Rick's daughter, she is intelligent if sometimes cold.</p>
    </div>

    <div class="character">
      <h3>Jerry Smith</h3>
      <p>Jerry is the husband of Beth Smith, the father of Summer Smith and Morty Smith.</p>
    </div>
  </div>
</div>
    </ul>
</section>