.hero {
  background-color: var(--black);
  border-radius: 0 0 100px 100px;
  padding-top: 100px;
  @media screen and (min-width: 768px) {
    padding-top: 54px;
  }
  &-div-info {
    width: 291px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      width: 420px;
    }
    @media screen and (min-width: 1200px) {
      width: 311px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      margin: 0;
    }
    &-description {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 129%;
      text-align: center;
      color: var(--white);

        @media screen and (min-width: 728px) {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 113%;
          color: var(--white);
        }
    }
  }
  &-div-image {
    display: flex;
    
    &-img {
      width: 335px;
      height: 259px;
      @media screen and (min-width: 1200px) {
        width: 511px;
        height: 411px;
      }
    }
  }
}


.tags {
  position: relative;
  
}
.tag {
  position: absolute;
  padding: 14px 23px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 20px;
  font-family: var(--font-family);
  white-space: nowrap;
}

.hero-inscriptions {
  margin-bottom: 160px;
  transform: translateX(-420px);
  @media screen and (min-width: 768px) {
    margin-bottom: 256px;
    transform: translateX(-203px);
  }
  @media screen and (min-width: 1200px) {
    transform: translateX(0px);
  }
}

.rotate-1 {top: -3px; left: -20px; background-color: var(--green); color: var(--black);}
.rotate-2 {top: 50px; left: -70px; background-color: var(--black); color: var(--white)}
.rotate-3 {transform: rotate(31deg); top: -30px; left: 70px; background-color: var(--light-green); color: var(--black)}
.rotate-4 {top: 50px; left: 160px; background-color: var(--green); color: var(--black)}
.rotate-5 {transform: rotate(18deg); top: 18px; left: 260px; background-color: var(--black); color: var(--green)}
.rotate-6 {transform: rotate(132deg); left: 410px; top: 25px; background-color: var(--light-green); color: var(--black); @media screen and (min-width: 768px) {left: 440px; top: 25px;} }
.rotate-7 {transform: rotate(-180deg); left: 508px; top: 50px; background-color: var(--green); color: var(--black); @media screen and (min-width: 768px) {left: 516px; top: 50px;}}
.rotate-8 {top: 50px; left: 665px; background-color: var(--black); color: var(--white)}
.rotate-9 {transform: rotate(35deg); left: 770px; top: 18px; background-color: var(--light-green); color: var(--black)}
.rotate-10 {transform: rotate(-180deg); left: 910px; top: 50px; background-color: var(--black); color: var(--light-green)}
.rotate-11 {transform: rotate(139deg); left: 1052px; top: 20px; background-color: var(--light-green); color: var(--black)}
.rotate-12 {transform: rotate(-180deg); left: 1140px; top: 50px; background-color: var(--green); color: var(--black)}