<footer>
    <div>
        <div class="logoFooter">
            <img src="" alt="">
        </div>
        <div class="navFooter">
            <ul>
                <li>
                    <a href="">Characters</a>
                </li>
                <li>
                    <a href="">Episodes</a>
                </li>
            </ul>
        </div>
        <div class="socialLinks">
            <ul>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <img src="" alt="">
                </li>
            </ul>
        </div>
        <div class="PrivacyPolicy">
            <p>Privacy Policy Public Offering Agreement</p>
        </div>
    </div>
</footer>
