<footer class="footerMain" id="footer">
  <div class="container">
    <div class="footerLinks">
      <div class="logoFooter">
        <img src="./img/together/rick_and_morty_tablet-desctop_1x.png" alt="" class="footerImg" srcset="./img/together/rick_and_morty_mobile_1x.png 72w, ./img/together/rick_and_morty_mobile_2x.png 144w, ./img/together/rick_and_morty_tablet-desctop_1x.png 98w, ./img/together/rick_and_morty_tablet-desctop_2x.png 196w" sizes="(min-width: 768px) 98px, (max-width: 768px) 72px, 100vw" width="72px"/>
        <div class="footerTags">
          <span class="footerRotate1 tagFooter">Rick and</span>
          <span class="footerRotate2 tagFooter">Morty</span>
        </div>
        <div class="div3"></div>
      </div>
      <div class="footerClickable">
        <div class="navFooter">
          <ul class="navFooter-list">
            <li>
              <a href="./characters.html">Characters</a>
            </li>
            <li>
              <a href="./episodes.html">Episodes</a>
            </li>
          </ul>
        </div>
        <div class="socialLinks">
          <ul class="socialLinks-list">
            <li>
              <a href="" class="footerSocialLinks"><img src="./img/icons/facebook_black.svg" alt="facebook icon" class="footerSocialImg" style="fill: black;"/></a>
            </li>
            <li>
              <a href="" class="footerSocialLinks"><img src="./img/icons/twitter_black.svg" alt="twitter icon" class="footerSocialImg" /></a>
            </li>
            <li>
              <a href="" class="footerSocialLinks"><img src="./img/icons/instagram_black.svg" alt="instagram icon" class="footerSocialImg" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="privacyPolicy">
      <p>Privacy Policy Public Offering Agreement</p>
    </div>
  </div>
</footer>
