<footer class="footerMain">
  <div class="container">
    <div class="footerLinks">
      <div class="logoFooter">
        <img src="./img/together/rick_and_morty_tablet-desctop_1x.png" alt="" srcset="./img/together/rick_and_morty_mobile_1x.png 72w, ./img/together/rick_and_morty_mobile_2x.png 144w, ./img/together/rick_and_morty_tablet-desctop_1x.png 98w, ./img/together/rick_and_morty_tablet-desctop_2x.png 196w" sizes="(min-width: 768px) 98px, (max-width: 768px) 72px, 100vw" width="72px"/>
        <div class="div3"></div>
      </div>
      <div class="footerClickable">
        <div class="navFooter">
          <ul class="navFooter-list">
            <li>
              <a href="./characters.html">Characters</a>
            </li>
            <li>
              <a href="./episodes.html">Episodes</a>
            </li>
          </ul>
        </div>
        <div class="socialLinks">
          <ul class="socialLinks-list">
            <li>
              <img src="./img/icons/facebook.svg" alt="facebook icon" class="footerSocialImg" style="fill: black;"/>
            </li>
            <li>
              <img src="./img/icons/twitter.svg" alt="twitter icon" class="footerSocialImg" />
            </li>
            <li>
              <img src="./img/icons/instagram.svg" alt="instagram icon" class="footerSocialImg" />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="privacyPolicy">
      <p>Privacy Policy Public Offering Agreement</p>
    </div>
  </div>
</footer>
