<section class="hero">
    <div>
        <ul>
            <li>
                <p>the adventures</p>
            </li>
            <li>
                <p>Animated</p>
            </li>
            <li>
                <p>Sitcom</p>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <p>Justin Roiland</p>
            </li>
            <li>
                <p>superpower</p>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <p>creative</p>
            </li>
            <li>
                <p>Amazing!</p>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <p>Rick and Morty </p>
            </li>
            <li>
                <p>comics</p>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <p>follows</p>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <p>characters</p>
            </li>
            <li>
                <p>Whoa</p>
            </li>
        </ul>
    </div>
</section>
