<section class="hero ">
<div class="container">

    <div class="hero-div-info">
                <h1 class="hero-div-info-description">If you're a fan of Rick and Morty, you don't want to miss out on our app!  Start exploring the endless possibilities of Rick and Morty!</h1>
            <div class="hero-div-image">
                <img src="./img/rick_and_morty_main_hero.png" alt="" class="hero-div-image-img">
                <img src="" alt="" class="hero-div-image-textImg">
            </div>
    </div>
    <button class="scrollToBottom-btn"></button>
    
    
    <div class="hero-inscriptions">
        <div class="tags">
             <span class="tag rotate-1">Animated</span>
            <span class="tag rotate-2">the adventures</span>
            <span class="tag rotate-3">Sitcom</span>
            <span class="tag rotate-4">Justin Roiland</span>
            <span class="tag rotate-5">superpower</span>
            <span class="tag rotate-7">Amazing!</span>
            <span class="tag rotate-6">creative</span>
            <span class="tag rotate-8">Rick and Morty</span>
            <span class="tag rotate-9">comics</span>
            <span class="tag rotate-10">follows</span>
            <span class="tag rotate-11">characters</span>
            <span class="tag rotate-12">whoa</span>
        </div>
    </div>  
</section>
