<section class="hero ">
<div class="container">

    <div class="hero-div-info">
                <h1 class="hero-div-info-description">If you're a fan of Rick and Morty, you don't want to miss out on our app!  Start exploring the endless possibilities of Rick and Morty!</h1>
            <div class="hero-div-image">
                <img src="./img/main/hero/main_hero_mobile_1x.png" alt="Рік і Морті стоять на своєму космічному кораблі який вилітає з порталу" class="hero-div-image-img" srcset="./img/main/hero/main_hero_mobile_1x.png 335w, ./img/main/hero/main_hero_mobile_2x.png 670w, ./img/main/hero/main_hero_tablet_and_descktop_1x.png 532w, ./img/main/hero/main_hero_tablet_and_descktop_2x.png 1064w" sizes="(min-width: 768px) 532px, (max-width: 768px) 335px, 100vw">
                <img src="../../img/main/hero/main_hero_tablet_and_descktop_gl_text_1x.png" alt="Rick and Morty" class="hero-div-image-textImg" srcset="./img/main/hero/main_hero_mobile_gl_text_1x.png 324w, ./img/main/hero/main_hero_mobile_gl_text_2x.png 648w, ./img/main/hero/main_hero_tablet_and_descktop_gl_text_1x.png 460w, ./img/main/hero/main_hero_tablet_and_descktop_gl_text_2x.png 920w" sizes="(min-width: 768px) 460px, (max-width: 768px) 324px, 100vw">
            </div>
    </div>
    <button class="scrollToBottom-btn"></button>
    
    
    <div class="hero-inscriptions">
        <div class="tags">
             <span class="tag rotate-1">Animated</span>
            <span class="tag rotate-2">the adventures</span>
            <span class="tag rotate-3">Sitcom</span>
            <span class="tag rotate-4">Justin Roiland</span>
            <span class="tag rotate-5">superpower</span>
            <span class="tag rotate-7">Amazing!</span>
            <span class="tag rotate-6">creative</span>
            <span class="tag rotate-8">Rick and Morty</span>
            <span class="tag rotate-9">comics</span>
            <span class="tag rotate-10">follows</span>
            <span class="tag rotate-11">characters</span>
            <span class="tag rotate-12">whoa</span>
        </div>
    </div>  
</section>
