<section class="main-characters">
  <div class="container">
    <h2 class="main-characters-title"><span class="main-characters-span">Main</span> characters</h2>

    <div class="main-characters-div">
      <div class="image-box">
        <div class="box">
          <picture class="main-picture">
            <source id="source-mobile" media="(max-width: 768px)"
              srcset="./img/main/main_characters/mobile/rick_mobile_1x.png 1x, ./img/main/main_characters/mobile/rick_mobile_2x.png 2x">
            <source id="source-tablet" media="(max-width: 1200px)"
              srcset="./img/main/main_characters/tablet_and_mobile/rick_tablet_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/rick_tablet_2x.png 2x">
            <source id="source-desktop"
              srcset="./img/main/main_characters/tablet_and_mobile/rick_descktop_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/rick_descktop_2x.png 2x">
            <img src="./img/main/main_characters/tablet_and_mobile/rick_descktop_1x.png" alt="rick sanchez" class="main-picture-img">
          </picture>
        </div>
      </div>

      <div class="characters">
        <div class="character">
          <h3 class="character-title active"
            data-mob="./img/main/main_characters/mobile/rick_mobile_1x.png 1x, ./img/main/main_characters/mobile/rick_mobile_2x.png 2x"
            data-tab="./img/main/main_characters/tablet_and_mobile/rick_tablet_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/rick_tablet_2x.png 2x"
            data-desk="./img/main/main_characters/tablet_and_mobile/rick_descktop_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/rick_descktop_2x.png 2x">
            Rick Sanchez</h3>
          <p class="character-description">Rick Sanchez is a brilliant but deeply troubled scientist and one of the main
            characters in the animated TV show Rick and Morty.</p>
        </div>

        <div class="character">
          <h3 class="character-title"
            data-mob="./src/img/main/main_characters/mobile/morty_mobile_1x.png 1x, ./src/img/main/main_characters/mobile/morty_mobile_2x.png 2x"
            data-tab="./src/img/main/main_characters/tablet_and_mobile/morty_tablet_1x.png 1x, ./src/img/main/main_characters/tablet_and_mobile/morty_tablet_2x.png 2x"
            data-desk="./src/img/main/main_characters/tablet_and_mobile/morty_descktop_1x.png 1x, ./src/img/main/main_characters/tablet_and_mobile/morty_desktop_2x.png 2x">
            Morty Smith</h3>
          <p class="character-description">Morty Smith is the other main character in the animated TV show Rick and
            Morty, and Rick's grandson.</p>
        </div>

        <div class="character">
          <h3 class="character-title"
            data-mob="./img/main/main_characters/mobile/sammer_mobile_1x.png 1x, ./img/main/main_characters/mobile/sammer_mobile_2x.png 2x"
            data-tab="./img/main/main_characters/tablet_and_mobile/sammer_tablet_and_descktop_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/sammer_tablet_and_descktop_2x.png 2x"
            data-desk="./img/main/main_characters/tablet_and_mobile/sammer_tablet_and_descktop_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/sammer_tablet_and_descktop_2x.png 2x">
            Summer Smith</h3>
          <p class="character-description">Summer Smith is Morty's older sister and one of the main characters in Rick
            and Morty.</p>
        </div>

        <div class="character">
          <h3 class="character-title"
            data-mob="./img/main/main_characters/mobile/bett_mobile_1x.png 1x, ./img/main/main_characters/mobile/bett_mobile_2x.png 2x"
            data-tab="./img/main/main_characters/tablet_and_mobile/bett_tablet_and_descktop_1.png 1x, ./img/main/main_characters/tablet_and_mobile/bett_tablet_and_descktop_2x.png 2x"
            data-desk="./img/main/main_characters/tablet_and_mobile/bett_tablet_and_descktop_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/bett_tablet_and_descktop_2x.png 2x">
            Beth Smith</h3>
          <p class="character-description">Beth is a horse surgeon, and, as Rick's daughter, she is intelligent if
            sometimes cold.</p>
        </div>

        <div class="character">
          <h3 class="character-title"
            data-mob="./img/main/main_characters/mobile/jerry_mobile_1x.png 1x, ./img/main/main_characters/mobile/jerry_mobile_2x.png 2x"
            data-tab="./img/main/main_characters/tablet_and_mobile/jerry_tablet_and_descktop_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/jerry_tablet_and_descktop_2x.png 2x"
            data-desk="./img/main/main_characters/tablet_and_mobile/jerry_tablet_and_descktop_1x.png 1x, ./img/main/main_characters/tablet_and_mobile/jerry_tablet_and_descktop_2x.png 2x">
            Jerry Smith</h3>
          <p class="character-description">Jerry is the husband of Beth Smith, the father of Summer Smith and Morty
            Smith.</p>
        </div>
      </div>
    </div>
    </ul>
  </div>
</section>