<section class="slider">
    <div class="container">
    <div class="slider-title">
        <p>Ready to <span class="sliderMain-span">explore</span> the crazy <br> world of Rick and Morty?</p>
    </div>
    <div class="slider-img">
        <ul class="slider-img-list">
            <li>
                <img src="" alt=""> <div class="box2"></div>
            </li>
            <li>
                <img src="" alt="" > <div class="box2"></div>
            </li>
            <li>
                <img src="" alt=""> <div class="box2"></div>
            </li>
            <li>
                <img src="" alt=""> <div class="box2"></div>
            </li>
            <li>
                <img src="" alt=""> <div class="box2"></div>
            </li>
        </ul>
        <a href="" class="slider-button">Episodes</a>
    </div>
    
</div>
</section>
