<section class="slider">
    <div class="container">
    <div class="slider-title">
        <p class="slider-title-text">Ready to <span class="sliderMain-span">explore</span> the crazy <br> world of Rick and Morty?</p>
    </div>
    <div class="slider-img">
        <ul class="slider-img-list">
            <li>
                 <div class="box2"><img src="./img/main/slider/slider_first_1x.png" alt="" srcset="./img/main/slider/slider_first_1x.png 278w, ./img/main/slider/slider_first_2x.png 556w" sizes="278px, 100vw" width="278px" class="slider-img"></div>
            </li>
            <li>
                 <div class="box2"><img src="./img/main/slider/slider_second_1x.png" alt="" srcset="./img/main/slider/slider_second_1x.png 278w, ./img/main/slider/slider_second_2x.png 556w" sizes="278px, 100vw" width="278px" class="slider-img"></div>
            </li>
            <li>
                 <div class="box2"><img src="./img/main/slider/slider_third_1x.png" alt="" srcset="./img/main/slider/slider_third_1x.png 278w, ./img/main/slider/slider_third_2x.png 556w" sizes="278px, 100vw" width="278px" class="slider-img"></div>
            </li>
            <li>
                 <div class="box2"><img src="./img/main/slider/slider_forth_1x.png" alt="" srcset="./img/main/slider/slider_forth_1x.png 278w, ./img/main/slider/slider_forth_2x.png 556w" sizes="278px, 100vw" width="278px" class="slider-img"></div>
            </li>
            <li>
                 <div class="box2"><img src="./img/main/slider/slider_fifth_1x.png" alt="" srcset="./img/main/slider/slider_fifth_1x.png 278w, ./img/main/slider/slider_fifth_2x.png 556w" sizes="278px, 100vw" width="278px" class="slider-img"></div>
            </li>
        </ul>
        
    </div>
    <a href="./episodes.html" class="slider-button">Episodes</a>
</div>
</section>
