<section class="container">
    <div>
    <div class="slider-title">
        <p>Ready to <span class="sliderMain-span">explore</span> the crazy world of Rick and Morty?</p>
    </div>
    <div class="slider-img">
        <ul>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
        </ul>
    </div>
</div>
</section>
