<footer class="second-footer">
  <div class="container">
    <div class="second-footer-wrapper">
      <div class="rick_and_morty_footer-img">
              <img src="../../img/rick_and_morty_footer.png" alt="rick_and_morty_footer" >
      </div>
      <div class="links-wrapper">
        <!--  -->
        <div class="links-box">
          <div class="links-wrapper-item links-wrapper-item-margin">
            <a href="#">Characters</a>
          </div>
          <div class="links-wrapper-item">
            <a href="#">Episodes</a>
          </div>      
        </div>

        <div class="massangers-wrapper">
          <div class="massangers-wrapper-item"><img src="../../img/facebook.svg" alt="facebook"></div>
          <div class="massangers-wrapper-item"><img src="../../img/twitter.svg" alt="twitter"></div>
          <div class="massangers-wrapper-item"><img src="../../img/instagram.svg" alt="instagram"></div>
        </div>
      </div>
    </div>
  </div>
</footer>