<footer class="second-footer">
  <div class="container">
    <div class="second-footer-wrapper">
      <div class="rick_and_morty_footer-img">
              <img src="./img/together/rick_and_morty_footer.png" alt="rick_and_morty_footer" >
      </div>
      <div class="second-footer-references-wrapper">
        <!--  -->
        <div class="links-box">
          <div class="links-wrapper-item links-wrapper-item-margin">
            <a href="./characters.html">Characters</a>
          </div>
          <div class="links-wrapper-item">
            <a href="./episodes.html">Episodes</a>
          </div>      
        </div>
        <!--   -->
        <div class="massangers-wrapper">
          <div class="massangers-wrapper-item"><img src="./img/icons/facebook.svg" alt="facebook"></div>
          <div class="massangers-wrapper-item"><img src="./img/icons/twitter.svg" alt="twitter"></div>
          <div class="massangers-wrapper-item"><img src="./img/icons/instagram.svg" alt="instagram"></div>
        </div>
      </div>
    </div>
    <!-- policy -->
     <p class="second-footer-policy">Privacy Policy Public Offering Agreement</p>
  </div>
</footer>